
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
.env
test_env/

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Environment Template
.env.example
